* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container1 {
    height: 160px;
    width: 90%;
    margin: 20px auto;
}

.container1 img {
    width: 15%;
}

.container1 ul li {
    list-style: none;
    float: left;
    padding: 15px;
    margin-top: 15px;
    margin-left: -10px;
}

.container2 {
    height: 470px;
    width: 90%;
    margin: 20px auto;
}

.container2-hero {
    position: relative;
}

.container2-banner {
    height: 450px;
    overflow: hidden;
    border-radius: 25px;
}

.container2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.container2-hero::after{  
    position: absolute;
    content: "";
    display: block;  
    border-radius: 25px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.199);
}

.container2-text {
    color: white;
    position: absolute;
    width: 550px;
    bottom: 80px;
    left: 50px;
    z-index: 10;
}

.container-float {
    width: 90%;
    margin: 20px auto;
    position: relative;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.first-container {
    height: 90px;
    width: 100%;
    margin-bottom: 20px;
}

.second-container {
    height: 600px;
    width: 300px; 
    float: left;
    margin-bottom: 18px;
    margin-right: 15px;
}

.second-container-banner {
    height: 300px;
    width: 300px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;    
}

.second-container img {
    width: 300px;
    height: 300px;
    display: block;

}

.second-container h4 {
    padding: 10px 0;
}

.second-container-text {
    width: 300px;
    height: 300px;
}

.second-container-banner::after {
    position: absolute;
    content: "";
    display: block;  
    border-radius: 25px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.199);
}

.third-container {
    height: 600px;
    width: 737px; 
    float: left;
    margin-bottom: 18px;
    margin-right: 15px;
}

.third-container-banner {
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;    
}

.third-container img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}

.third-container h4 {
    padding: 10px 0;
}

.third-container-text {
    width: 100%;
    height: 500px;
}

.third-container-banner::after {
    position: absolute;
    content: "";
    display: block;  
    border-radius: 25px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.199);
}

.fourth-container {
    height: 600px;
    width: 300px; 
    float: left;
    margin-bottom: 18px;
}

.fourth-container-banner {
    height: 300px;
    width: 300px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;      
}

.fourth-container img {
    width: 300px;
    height: 300px;
    display: block;
    object-fit: cover;
}

.fourth-container h4 {
    padding: 10px 0;
}

.fourth-container-text {
    width: 300px;
    height: 300px;
}

.fourth-container-banner::after {
    position: absolute;
    content: "";
    display: block;  
    border-radius: 25px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.199);
}

.last-container {
    height: 80px;
    width: 90%;
    margin: 20px auto;
}

.last-container p {
    text-align: center;
}

.last-container span {
    color: red;
}